<p-dialog [(visible)]="display" [modal]="true" [draggable]="false" (onHide)="closeDialog()">
  <ng-template pTemplate="header">
    <div class="header-container">
      <h2>Agregar Materia</h2>
    </div>
  </ng-template>
  <form class="formulario-profesor">

    <label for="horario" class="block">Materia:</label>
    <input type="text" pInputText  id="año" class="form-control" name="año" [maxlength]="20" [(ngModel)]="dtoMateria.nombre" required>

    <div style="margin-top: 1rem;">
      <p-button (onClick)="agregarMateria()" class="btn btn-primary">Enviar</p-button>
    </div>
  </form>
</p-dialog>

<div *ngIf="loading" class="spinner-overlay">
  <app-spinner-overlay [loading]="loading"></app-spinner-overlay>
</div>
w
