<p-dialog [(visible)]="display" [modal]="true" [draggable]="false" (onHide)="closeDialog()">
  <ng-template pTemplate="header">
    <div class="header-container">
      <h2>Agregar Profesor</h2>
    </div>
  </ng-template>
  <form class="formulario-profesor">

    <label for="horario" class="block">Nombre:</label>
    <input type="text" pInputText  id="nombre" class="form-control" name="nombre" [(ngModel)]="dtoProfesor.nombre" required>

    <label for="horario" class="block">Apellido:</label>
    <input type="text" pInputText  id="apellido" class="form-control" name="apellido" [(ngModel)]="dtoProfesor.apellido" required>

    <label for="horario" class="block">Cuil:</label>
    <div class="contenedor">
      <p-inputNumber inputId="dni" [(ngModel)]="dtoProfesor.cuil" class="form-control" name="Cuil"></p-inputNumber>
    </div>

    <!-- <label for="horario" class="block">Fecha de nacimiento:</label>
    <div class="contenedor">
      <input class="p-inputtext custom-date-input" type="date" [(ngModel)]="dtoProfesor.fechaNacimiento"  name="fechaNacimiento" />
    </div> -->
    <!-- <input type="text" pInputText  id="dni" class="form-control" name="dni" [(ngModel)]="dtoProfesor.dni" required> -->

    <div style="margin-top: 1rem;">
      <p-button (onClick)="agregarProfesor()" class="btn btn-primary">Enviar</p-button>
    </div>
  </form>
</p-dialog>

<div *ngIf="loading" class="spinner-overlay">
  <app-spinner-overlay [loading]="loading"></app-spinner-overlay>
</div>
