.container{
  margin: 0 auto;
}

:host ::ng-deep{
  // .p-dialog .p-dialog-header .dialogo-agregar {
  //   padding: 0 1rem;
  //   border-bottom: 1px solid black;
  //   // border-radius: 6px;
  // }
  .p-dropdown{
    display: flex;
    align-items: center;
    width: 100%;
  }
  .dialogo-agregar .p-dialog-header{
    padding: 0 1rem;
  }
  .fc .fc-timegrid-slot {
    height: 6rem; /* Cambia la altura de la celda de día */
  }
  .fc .fc-toolbar.fc-header-toolbar {
     margin-bottom: 0em;
  }

  .fc-timegrid-slot-label {
    height: 1.5em;
    line-height: 1.5em;
  }

  .p-inputtext {
    width: 100%;
  }

  p-inputnumber, .p-inputnumber{
    width: 100%;
  }

  /* your.component.scss or your.component.css */
  .spinner-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999; /* A high z-index value to make sure it's on top of other elements */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  }

}

:host{
  .helper{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .columnas{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .calendar {
    text-align: center;
  }

  .calendar-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
    align-content: space-evenly;
    .notas{
      margin-right: .5rem;
    }
    .btn{
      margin-left: .5rem;
    }
  }
}



