<div class="calendar">
  <div class="calendar-title">
    Horarios 2023
  </div>
</div>
<div class="container row">
  <div class="col-3">
    <!-- <div class="contenedor"> -->
      <!-- <p-dropdown [options]="optionsFiltro" [(ngModel)]="selectedFiltro" (ngModelChange)="filtroChange($event)" [ngClass]="{'ancho':selectedFiltro?.key==2, 'ancho2': selectedFiltro?.key==1}"></p-dropdown> -->
      <p-dropdown [options]="optionsFiltro" [(ngModel)]="selectedFiltro" (ngModelChange)="filtroChange($event)" class="drop"></p-dropdown>

      <!-- <button *ngIf="selectedFiltro?.key == 2" pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-success p-button-outlined" title="Agregar Profesor" (click)="showagregarProfesorDialog()"></button> -->

      <!-- </div> -->
      <p-listbox *ngIf="selectedFiltro?.key == 2" [options]="profesores" [(ngModel)]="selectedProfesor" (ngModelChange)="profesorChange()" [filter]="true" filterBy="apellido" filterMatchMode="contains" optionLabel="apellido" [listStyle]="{'height':'31.5rem'}">
        <ng-template pTemplate="selectedItem">
          <div  *ngIf="selectedProfesor">
              <div>{{selectedProfesor.apellido}}, {{selectedProfesor.nombre}} </div>
          </div>
        </ng-template>
        <ng-template let-profesor pTemplate="item">
          <div class="country-item">
              <div>{{profesor.apellido}}, {{profesor.nombre}} </div>
          </div>
        </ng-template>
      </p-listbox>
      <p-listbox *ngIf="selectedFiltro?.key == 1" [options]="cursos" [(ngModel)]="selectedCurso" (ngModelChange)="cursoChange()"  [listStyle]="{'height':'33rem'}" >
        <ng-template pTemplate="selectedItem">
          <div  *ngIf="selectedCurso">
            <div>{{selectedCurso.anio}}° {{selectedCurso.division}}°</div>
          </div>
        </ng-template>
        <ng-template let-curso pTemplate="item">
          <div class="curso-item">
            <div>{{curso.anio}}° {{curso.division}}°</div>
        </div>
        </ng-template>
      </p-listbox>
  </div>
  <div class="col">
      <div class="helper">
        <div class="columnas" *ngIf="selectedFiltro?.key == 1">
          <p><strong>Curso:</strong> &nbsp;</p>
          <p>{{selectedCurso.anio}}° {{selectedCurso.division}}°</p>
        </div>
        <div class="columnas" *ngIf="selectedFiltro?.key == 2">
          <p><strong>Profesor:</strong> &nbsp;</p>
          <p>{{selectedProfesor?.apellido}}, {{selectedProfesor?.nombre}} </p>
        </div>
        <div class="columnas" *ngIf="selectedFiltro?.key == 2">
          <p><strong>Turno:</strong> &nbsp;</p>
          <p-dropdown [options]="optionsFiltroTurno" [(ngModel)]="selectedFiltroTurno" (ngModelChange)="filtroTurnoChange($event)" [style]="{'width':'15rem'}" class="mb-2"></p-dropdown>
        </div>
        <div class="columnas" *ngIf="selectedFiltro.key == 1">
          <p-button (onClick)="imprimir()" >Imprimir Horario</p-button>
        </div>
        <div class="columnas" *ngIf="selectedFiltro.key == 2">
          <p-button (onClick)="imprimirProfesor()" >Imprimir Horario</p-button>
        </div>
      </div>
    <full-calendar [options]="options" [events]="events"></full-calendar>
    <div *ngIf="selectedFiltro.key == 1" class="flex">
      <label for="horario" class="notas">Notas:</label>
      <input [disabled]="!editarNota" type="text" pInputText  id="apellido" class="form-control" [(ngModel)]="selectedCurso.notas">
      <button class="p-button p-button-success btn" *ngIf="editarNota" (click)="guardarNota()">Guardar</button>
      <button class="p-button p-button-warning btn" *ngIf="!editarNota" (click)="editarNotas()">Editar</button>
    </div>
  </div>

</div>

<app-horario-dialog #horarioDialog [tituloHorario]="tituloHorario" ></app-horario-dialog>

<app-agregar-profesor-dialog #agregarProfesorDialog ></app-agregar-profesor-dialog>




<div *ngIf="loading" class="spinner-overlay">
  <app-spinner-overlay [loading]="loading"></app-spinner-overlay>
</div>

<p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle" [breakpoints]="['768px']" [style]="{width: '50vw'}"></p-confirmDialog>
