<div class="calendar">
  <div class="calendar-title">
    Calendario 2023
  </div>
</div>
<div class="container">
  <div class="left-column">
    <div class="alinear">
        <!-- <div class="contenedor"> -->
          <p-dropdown [options]="optionsFiltro" [(ngModel)]="selectedFiltro" (ngModelChange)="filtroChange($event)" [ngClass]="{'ancho':selectedFiltro?.key==2, 'ancho2': selectedFiltro?.key==1}"></p-dropdown>

            <button *ngIf="selectedFiltro?.key == 2" pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-success p-button-outlined" title="Agregar Profesor" (click)="showDialogProfesor()"></button>

          <!-- </div> -->
          </div>
      <p-listbox *ngIf="selectedFiltro?.key == 2" [options]="profesores" [(ngModel)]="selectedProfesor" (ngModelChange)="profesorChange()" (onDblClick)="quitarSeleccion()" [filter]="true" filterBy="nombre" filterMatchMode="contains" optionLabel="nombre" [listStyle]="{'height':'31.5rem'}">
        <ng-template pTemplate="selectedItem">
          <div  *ngIf="selectedProfesor">
              <div>{{selectedProfesor.nombre}} {{selectedProfesor.apellido}}</div>
          </div>
        </ng-template>
        <ng-template let-profesor pTemplate="item">
          <div class="country-item">
              <div>{{profesor.nombre}} {{profesor.apellido}}</div>
          </div>
        </ng-template>
      </p-listbox>
      <p-listbox *ngIf="selectedFiltro?.key == 1" [options]="cursos" [(ngModel)]="selectedCurso" (ngModelChange)="cursoChange()"  [listStyle]="{'height':'33rem'}" [style]="{'width':'15rem'}">
        <ng-template pTemplate="selectedItem">
          <div  *ngIf="selectedCurso">
            <div>{{selectedCurso.anio}}° {{selectedCurso.division}}°</div>
          </div>
        </ng-template>
        <ng-template let-curso pTemplate="item">
          <div class="curso-item">
            <div>{{curso.anio}}° {{curso.division}}°</div>
        </div>
        </ng-template>
      </p-listbox>
  </div>
  <div class="contenedor">
    <div class="contenedor" *ngIf="selectedFiltro?.key == 2">
      <p-dropdown [options]="optionsFiltroTurno" [(ngModel)]="selectedFiltroTurno" (ngModelChange)="filtroTurnoChange($event)" [style]="{'width':'15rem'}" class="mb-2"></p-dropdown>
    </div>
    <full-calendar [options]="options" [events]="events"></full-calendar>
  </div>
</div>

<p-dialog [(visible)]="display" [draggable]="false" [modal]="true" class="dialogo-agregar">
  <ng-template pTemplate="header">
    <div class="header-container">
      <h2><span>{{tituloHorario}}</span></h2>
      <!-- <button pButton pRipple type="button" class="p-button-text p-button-danger" (click)="eliminarHorario()" title="Eliminar este Horario"> -->
      <button pButton pRipple type="button" class="p-button-text p-button-danger" (click)="mostrarConfirmacion()" title="Eliminar este Horario">
        <i class="pi pi-trash"></i>
      </button>
    </div>
  </ng-template>
  <form class="formulario-horario">

    <label for="materia">Materia:</label>
    <div class="contenedor">
      <p-dropdown [options]="materias" [(ngModel)]="selectedMateria" name="materia" [filter]="true" optionLabel="nombre" filterBy="nombre" [showClear]="true" (ngModelChange)="materiaChange($event)"></p-dropdown>
    </div>

    <div class="profesor-tipo-container">
      <div class="profesor-container">

        <label for="profesor">Profesor:</label>
          <div class="contenedor">
            <p-dropdown class="fixed-width-dropdown" [disabled]="disableProfesor == true" [options]="profesores" [(ngModel)]="selectedProfesor" name="profesor" [filter]="true" optionLabel="apellido" filterBy="apellido" [showClear]="true" (ngModelChange)="profesorChange()">
              <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value" *ngIf="selectedProfesor">
                  <div>{{selectedProfesor.nombre}} {{selectedProfesor.apellido}}</div>
                </div>
              </ng-template>
              <ng-template let-profesor pTemplate="item">
                <div class="profesor-item">
                  <div>{{profesor.nombre}} {{profesor.apellido}}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
        </div>

        <div class="tipo-profesor-container">
          <label for="horario" class="block">Tipo Profesor:</label>
          <div class="contenedor">
            <p-dropdown class="fixed-width-dropdown" [options]="opcionesTipoProfesor" [(ngModel)]="selectedTipoProfesor" name="tipoProfesor" [showClear]="true"></p-dropdown>
          </div>
        </div>
        <div class="agregar-container" *ngIf="selectedFiltro?.key == 1">
          <!-- Botón para agregar profesor -->
          <div class="contenedor">
            <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-success p-button-outlined ancho-boton" title="Agregar Profesor" (click)="agregarProfesorArray()"></button>
            <!-- <p-button  ></p-button> -->
          </div>
        </div>
    </div>
    <!-- Lista de profesores agregados -->
    <div *ngFor="let profesor of profesoresAgregados; let i = index;" class="lista-profesores">
        <div class="lista">
        <!-- <div *ngIf="selectedFiltro?.key == 1" class="lista"> -->
          <strong><span>{{ profesor.profesor.nombre }} {{ profesor.profesor.apellido }}</span> - <span>{{ profesor.tipoProfesor }}</span></strong>
          <!-- <p-button icon="pi pi-times" styleClass="p-button-rounded p-button-danger p-button-text p-button-sm"></p-button> -->
          <button class="boton-eliminar" (click)="eliminarProfesor(i)">
            <i class="pi pi-times"></i>
          </button>
        </div>
    </div>


    <label for="curso">Curso:</label>
    <div class="contenedor">
      <p-dropdown [disabled]="selectedFiltro.key == 1" [options]="cursosDialog" [(ngModel)]="selectedCurso" [filter]="true" filterBy="anio"  name="curso">
        <ng-template pTemplate="selectedItem">
          <div class="country-item country-item-value" *ngIf="selectedCurso">
              <div>{{selectedCurso.anio}}° {{selectedCurso.division}}°</div>
          </div>
        </ng-template>
        <ng-template let-curso pTemplate="item">
          <div class="curso-item">
              <div>{{curso.anio}}° {{curso.division}}°</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>

    <label for="horario" class="block">Turno:</label>
    <div class="contenedor">
      <p-dropdown [disabled]="true" [options]="turnos" [(ngModel)]="turnoSelected" name="turno" [showClear]="true" (ngModelChange)="turnoChange($event)"></p-dropdown>
    </div>

    <label for="horario" class="block">Dia:</label>
    <input [disabled]="true" type="text" pInputText  id="horario" class="form-control" name="dia" [(ngModel)]="horarioAAsignar.dia" required>

    <label for="horario" class="block">Modulo:</label>
    <input [disabled]="true" type="text" pInputText  id="horario" class="form-control" name="modulo" [(ngModel)]="horarioAAsignar.modulo" required>

    <div style="margin-top: 1rem;">
      <p-button (onClick)="tituloHorario == 'Editar Horario' ? editarHorario() : guardarHorario()" class="btn btn-primary">Enviar</p-button>
    </div>
  </form>
</p-dialog>

<p-dialog header="Agregar Profesor" [(visible)]="displayProfesor" [draggable]="false" [modal]="true" >

  <form class="formulario-profesor">

    <label for="horario" class="block">Nombre:</label>
    <input type="text" pInputText  id="nombre" class="form-control" name="nombre" [(ngModel)]="dtoProfesor.nombre" required>

    <label for="horario" class="block">Apellido:</label>
    <input type="text" pInputText  id="apellido" class="form-control" name="apellido" [(ngModel)]="dtoProfesor.apellido" required>

    <label for="horario" class="block">Dni:</label>
    <div class="contenedor">
      <p-inputNumber inputId="dni" [(ngModel)]="dtoProfesor.dni" class="form-control" name="dni"></p-inputNumber>
    </div>

    <label for="horario" class="block">Fecha de nacimiento:</label>
    <div class="contenedor">
      <!-- <p-calendar [(ngModel)]="dtoProfesor.fechaNacimiento" [readonlyInput]="false" name="fechaNacimiento"></p-calendar> -->
      <input class="p-inputtext custom-date-input" type="date" [(ngModel)]="dtoProfesor.fechaNacimiento"  name="fechaNacimiento" />
    </div>
    <!-- <input type="text" pInputText  id="dni" class="form-control" name="dni" [(ngModel)]="dtoProfesor.dni" required> -->

    <div style="margin-top: 1rem;">
      <p-button (onClick)="agregarProfesor()" class="btn btn-primary">Enviar</p-button>
    </div>
  </form>
</p-dialog>

<div style="margin-top: 1rem;">
  <p-button (onClick)="imprimir()" class="btn btn-primary">Imprimir Horario</p-button>
</div>
<p-toast position="bottom-right" key="bc"></p-toast>

<div *ngIf="loading" class="spinner-overlay">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="none" animationDuration="2s"></p-progressSpinner>
</div>

<p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle" [breakpoints]="['768px']" [style]="{width: '50vw'}"></p-confirmDialog>
